{% include 'backend/header.html' %}
{% include 'backend/sidebar.html' %}

{% load static %}
<style>
    .success-message {
        color: green;
        font-weight: bold;
        border: 1px solid green;
        padding: 10px;
        margin: 10px 0;
        background-color: #dff0d8; /* Optional background color */
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
    <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">View Influencer</h3>
                        </div>
                        <div class="card-body">
                            {% if influencer %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="name">Name:</label> {{influencer.user.name}}
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="email">Phone:</label> {{ influencer.user.phone_number }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="address">Commision(%):</label> {{ influencer.benefit_percentage }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="commission">Start Date:</label> {{ influencer.start_date|date:"d, M Y" }}
                                    </div>
                                     <div class="col-lg-6">
                                        <label for="mk">End Date:</label> {{ influencer.end_date|date:"d, M Y" }}
                                    </div>
                                </div>
                                <hr>
                                <h3 class="mt-4">References</h3>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        <th>Sl No</th>
                                        <th>Name</th>
                                        <th>Phone Number</th>
                                        <th>Total Orders</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if references %}
                                        {% for ref in references %}
                                            <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ ref.name }}</td>
                                            <td>{{ ref.phone_number }}</td>
                                            <td>{{ ref.order_count }}</td>
                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="4" class="text-center text-muted">
                                            No references found
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                <hr>
                                <div class="mt-4">
                                    <a href="{% url 'influencer_list' %}" class="btn btn-danger">Back</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
function copyToClipboard(elementId) {
    var copyText = document.getElementById(elementId);
    copyText.select();
    document.execCommand("copy");
    alert("Copied the code: " + copyText.value);
}
</script>
{% include 'backend/footer.html' %}
